<div class="container">
    <div class="row text-center">
        <h2>
            Projects
            <a href="#/projects/add" class="btn btn-danger pull-right" ng-show="vm.identity.isAuthenticated()">Create</a>
        </h2>
    </div>
    <div ng-show="vm.identity.isAuthenticated()" class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="sort" class="control-label">Order by</label>
                    <div>
                        <select class="form-control" id="sort" ng-init="request.orderBy = 'date'" ng-model="vm.request.OrderBy">
                            <option value=""></option>
                            <option value="date">Date</option>
                            <option value="collaborators">Collaborators</option>
                            <option value="name">Name</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="orderType" class="control-label">Order Type</label>
                    <div>
                        <select class="form-control" id="orderType" ng-model="vm.request.OrderType">
                            <option value=""></option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="filter" class="control-label">Filter By Name And Description</label>
                    <div>
                        <input type="text" ng-model="vm.request.Filter" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="filter" class="control-label">Page Size</label>
                    <div>
                        <input type="number" ng-model="vm.request.PageSize" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class="row">
       
   </div>

    <div class="row" ng-show="vm.identity.isAuthenticated()">
        <div class="col-md-2">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label for="onlyPublic" class="col-md-2 control-label">Only Public</label>
                        <div class="col-md-10">
                            <input id="onlyPublic" type="checkbox" ng-model="vm.request.OnlyPublic" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="checkbox">
                    <label for="byUser" class="col-md-2 control-label">By User</label>
                    <div class="col-md-10">
                        <input id="byUser" type="checkbox" ng-model="vm.request.byUser" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-7">
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="vm.prevPage()">&lt;&lt;</button>
            </div>
                <div class="col-md-3">
                    <input type="number" id="page" ng-model="vm.request.Page" class="form-control" />Page
                </div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="vm.nextPage()">&gt;&gt;</button>
            </div>
            <div class="col-md-3 pull-left">
                <button class="btn btn-primary" ng-click="vm.filterProjects()">Filter</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <div all-projects />
    </div>
    <div ng-hide="vm.projects && vm.projects.length > 0">
        <h2 class="text-center">No results!</h2>
    </div>
</div>

