<div class="container">
    <div class="well">
        <form name="createCommitForm" class="form-horizontal">
            <fieldset>
                <legend>Create New Commit</legend>

                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Project Id</label>
                    <div class="col-md-10">

                        <input id="name" type="number" required="required" placeholder="Project Id" ng-model="vm.commit.projectId" class="form-control" />

                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">

                        <input id="description" type="text" placeholder="Source Code" ng-model="vm.commit.sourceCode" class="form-control" />

                    </div>
                </div>

                <div class="pull-right">
                    <button ng-click="vm.createCommit(commit)" ng-disabled="createCommitForm.$invalid" class="btn btn-primary">
                        Create
                    </button>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>