<table class="table table-bordered">
    <tr>
        <th class="text-center">
            Id
        </th>
        <th class="text-center">
            Name
        </th>

        <th class="text-center">
            Total Users
        </th>
        <th class="text-center">
            Created on
        </th>
        <th class="text-center">
            License
        </th>
    </tr>
    <tr>
        <td class="text-center"><a href="#/projects/{{vm.project.Id}}">{{vm.project.Id}}</a></td>
        <td class="text-center">{{vm.project.Name}}</td>
        <td class="text-center">{{vm.project.TotalUsers}}</td>
        <td class="text-center"><a href="#/">{{vm.project.CreatedOn | humanReadableDate}}</a></td>
        <td class="text-center" ng-show="vm.identity && vm.identity.isAuthenticated()">
            <div>
                <img class="smallPicture" ng-src="img/img/{{vm.project.License +'.png'}}" />
            </div>

            <!--Hvurchi nqkakuv gaden error koito neznam ot kude idva :(-->

            <!--<div ng-show="{{vm.project.License === 'MIT'}}">
                <img class="smallPicture" ng-src="img/{{'mit.png'}}" />
            </div>-->
            <!--<div ng-show="{{vm.project.License === 'Apache'}}">
                <img class="smallPicture" ng-src="img/{{'apache-logo.png'}}" />
            </div>
            <div ng-show="{{vm.project.License === 'BSD'}}">
                <img class="smallPicture" ng-src="img/{{'bsd.png'}}" />
            </div>
            <div ng-show="{{vm.project.License === 'GPL'}}">
                <img class="smallPicture" ng-src="img/{{'gpl.png'}}" />
            </div>
            <div ng-show="{{vm.project.License === 'Mozilla Public License'}}">
                <img class="smallPicture" ng-src="img/{{'mozilla.jpeg'}}" />
            </div>-->
        </td>
    </tr>
</table>