extends ../shared/layout
block main-content
    h2 Add videos to playlist: #{playlist.title}
    form(method="POST")
        label(for="url") Add Video URL
        input(type="text" id="url" name="url" placeholder="URL")
        br
        input(type="submit" class="btn btn-lg" value="Edit")