extends ../shared/layout

block main-content
    h2= 'Rate Playlist '
        h3='Title: ' + data.title
        h3='Creator: ' + data.creator
    form(method="POST")
        label(for="rate")
        input(type="text" id="rate" name="rateValue")
        input(type="submit" class="btn" value="Rate")